{% extends 'base.html.twig' %}

{% block title %}Home Page!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Home Page! ✅</h1>

    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.search) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
    <div class="grid">
        {% for result in results %}
            {% if result.getPictureLink() == 'null' %}
                <div class="item">
                    <img src="{{ asset('img/imgnotfound.jpg') }}" alt="img" width="200" height="200">
                    <p>{{ result.getName() }}</p>
                    <a href="favorite/{{ result.getId }}">add +</a>
                </div>
            {% else %}
                <div class="item">
                    <img src="{{ result.getPictureLink() }}" alt="img" width="200" height="200">
                    <p>{{ result.getName() }}</p>
                    <a href="favorite/{{ result.getId }}">add +</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
